<h1>Toys#index</h1>
<p>Find me in app/views/toys/index.html.erb</p>

<% @toys.each do |toy| %>
   <h2><%= toy.name %></h2>
   <%= link_to "View this toy", toy_path(toy), class: 'btn-ghost' %>

<% end %>


