<div class="banner" style="linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container-banner">

    <h1>Never let Mister Bear alone!</h1>
    <p>Adopt great toys all around you</p>
    <a><%= link_to "Find a toy", toys_path, class: "btn btn-flat" %></a>

    <%= form_tag toys_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Enter an address"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>n
