<div class="banner" style="linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container-banner">
      <h1 class="marketing-title">Never let Mister Bear alone!</h1>
      <p class="marketing-subtitle"></p>
<%= form_tag toys_path, class: "home-search", method: :get do %>
<div class="d-flex justify">
  <%= text_field_tag :toy_address,
  params[:toy_address],
  class: "form-control input-home-address",
    placeholder: "Enter an address"
    %>
    <%= submit_tag "Search", class: "btn btn-flat ml-4" %>
    <% end %>
  </div>
</div>
</div>

