.row {
  margin-right: 0px;
  margin-left: 0px;
}

.card_toy {
  img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 5px;
  }
}

.card_toy {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.card_toy h2 {
  font-size: 24px;
  padding: 16px;
  font-weight: bold;
  margin: 0;
}

.card_toy p {
  margin-top: 14px;
  font-size: 12px;
  opacity: .7;
  padding: 16px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 45px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card_toy_button {
    padding: 25px;
    text-align: center;
}


// cards for toy show page

.container_single_toy {
  background: white;
  padding: 16px;
  background-color: #F4F4F4;
}

.card_single_toy {
  //background: #F4F4F4;
  margin-top: 16px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  display: flex;
  //justify-content: space-around;
  //height: -webkit-fill-available;
}

.card_single_toy {
  img {
    vertical-align: left;
    border-style: none;
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
    border-radius: 5px;
    margin-right: 16px;
    margin-bottom: 20px;
  }
}

.toy_picture {
  height: 500px;
  margin-bottom: 80px;
}

.card_toy_content {
  margin: 24px;
  padding: 16px;
  background: white;
  width: 900px;
  border: solid 1px;
  border-color: #dadddf;
  border-radius: 2%;
}

.card_toy_booking {
  margin-left: 16px;
  width: 500px;
  margin: 24px;
  padding: 16px;
  background: white;
  border: solid 1px;
  border-color: #dadddf;
  border-radius: 2%;
  height: 400px;
  //position: sticky;
  //top: 40px;
}

.card_single_toy p {
  margin-top: 16px;
  font-size: 16px;
  opacity: .7;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: start;
  line-height: 32px;
  //max-height: 45px;
}

.show_toy_button {
  margin-top: 30px;
}



// price box on the card

.price_box {
  text-align: center;
  position: relative;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 132px;
  height: 85px;
  position: absolute;
  right: 34px;
  top: 260px;
}

.price_box {
  font-size: 34px;
  padding-top: 2px;
}

.price_box_text {
  opacity: .5;
  font-size: 12px;
  font-weight: bold;
}

// distance box on the card

.address_box {
  text-align: center;
  position: relative;
  opacity: 0.7;
  background: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 115px;
  height: 40px;
  position: absolute;
  right: 224px;
  top: 16px;
  color: white;
  padding-top: 6px;
  font-size: 17px;
}

#toy-booking-dates input[type="text"] {
  width: 300px;
  margin-top: 8px;
}

// Title and stars

.title_box{
  position: relative;
}

.title_box p {
  margin: 2px;
}

.star_box {
  position: absolute;
  top: 47px;
  left: 15px;
  margin-bottom: 15px;
}

.fa-star {
  color: #00AEEF;
}


