.filterbar {
  background: white;
  border: 1px solid #F4F4F4;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.filterbar .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu {
  padding: 32px;
  border-radius: 5%;
  margin-top: 8px;
}

.dropdown-toggle[aria-expanded="true"] {
  background: #085f63 !important;
  color: white !important;
}

.dropdown a {
  margin-top: 8px;
}
